<ul class="sidebar-menu">
       <li class="header">E-Hosting</li>
         <li><a href="/" title="Easy hosting"><i class="glyphicon glyphicon-home"></i> <strong>Home</strong></a></li>
         <li><a href="/about" title="About Easy Hosting"><i class="glyphicon glyphicon-info-sign"></i> <strong>About</strong></a></li>

         <li><a href="/contact" title="Contact Us"><i class="glyphicon glyphicon-envelope"></i> <strong>Contact</strong></a></li>
         <li><a href="/domains" title="Search and Buy a new domain with easy hosting"><i class="glyphicon glyphicon-send"> </i> <strong>Domains</strong></a></li>
         <li class="active treeview">
           <a href="#">
             <i class="fa fa-user-md"></i> <span>Client Area</span>
             <span class="pull-right-container">
               <i class="fa fa-angle-left pull-right"></i>
             </span>
           </a>
           <ul class="treeview-menu">
               <li><a href="/account" title="Create your Account"><i class="glyphicon glyphicon-log-in"> </i> <strong> Account</strong> </a> </li>
               <li><a href="/hosting" title="Hosting Services"><i class="fa fa-tty"> </i> <strong>Hosting</strong></a></li>
           </ul>
         </li>
         <li><a href="/blog" title="Easy Hosting Blog"><i class="glyphicon glyphicon-book"> </i> <strong>Blog</strong></a></li>         
 </ul>
